.input_group{
    margin-top: 20px;
    margin-bottom: 20px;
}
.input-area-class-login{
    height: 50px;
    width: 500px;
    background-color: rgba(0, 255, 255, 0.122);
}
.form_submit_Button{
    height: 50px;
    width: 500px;
}
.form-input-label{
    display: block;
    margin-top: 20px;
    font-size: large;
}
.link-in-bottom-login{
    display: block;
    padding: 10px;
    text-decoration: none;
    margin: 10px;
}