
.Company-list-grid{
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.grid-company-db-buttons{
    display: grid;
    justify-content: center;
}
.buttons-conmpany-list-to-nav-database-modifcation{
    display: grid;
    align-items: center;
    width: 200px;
}