.oders-user-profile-table{
    justify-content: center;
    display: grid;
}
.proceed-payment-button{
    cursor:grab;
    font-weight: bold;
    border-radius: 3px;
    padding: 7px;
    text-decoration: none;
    background-color: #00626f;
    color: white;
    display: block;
}
.review-button-onuserprofile{
    margin: 5px;
    border: none;
    background-color: #15a4b7;
    border-radius: 2px;
    padding: 5px;
    color: white;
}
.review-button-onuserprofile:hover{
    background-color: #025965;
    cursor: pointer;
}
  