.Header-ribon{
    height: 75px;
    margin: 10px;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    background-color: #15A3B7;
}
.header-left{
    display: flex;
}
.Profile-button{
    border-radius: 5px;
    
}
.header-right{
    align-items: center;
    padding-right: 20px;
    border-radius: 5px;
    /* display: flex; */
}
.profile-picture-header{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: aliceblue;
}
.profile-name-header{
    padding-left: 5px;
    display: grid;
    align-items: center;
}
.dropdown-content-header {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content-header-display {
    display: grid;
    position: absolute;
    background-color: rgb(105, 105, 106);
    min-width: 160px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  .header-dropdown-menu{
    padding: 7px;
    text-decoration: none;
    background-color: rgb(105, 105, 106);  
    color: white;
    display: block;
  }
  /* .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  } */