.input_group-register {
    margin-top: 20px;
}

.input-fied-registration-form {

    height: 50px;
    width: 500px;
    background-color: rgba(0, 255, 255, 0.122);
}

.Button {
    margin-top:20px ;
    border-radius: 50px;
    background-color: #454565;
    color: white;
}