.footer{
    color: white;
    background-color: #15A3B7;
    padding: 20px;
}
.Button{
    height: 50px;
    width: 150px;
    border-radius: 50px;
    background-color:#15A3B7;
    color: white;
}
#subscirption-email{
    height: 60px;
    width: 500px;
    background-color: #498E89;
    border-radius: 5px;
    border:2px solid #1e4644;
}
.news-letter{
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    display: flex;
    justify-content:space-evenly;
}
.newletter-input{
    display: flex;
    align-items: center;
}
.footer-pera{
    display: grid;
    justify-content: left;
}
.footer-link-head{
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.511);

}
.footer-links{
    
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
.footer-link{
    margin-top: 20px;
    text-decoration: none;
    color: white;
}
.footer-link-col{
    display: flex;
    flex-direction:column ;
    align-items: baseline;
}
.footer-address p{
    display: grid;
    justify-content: start;
}
.footer-links-sec{
    margin-top: 50px;
}
.contact-footer{
    margin-top: 50px;
    /* margin-left: 50px; */
    margin-right: 50px;
    justify-content: space-between;
    display: flex;
}
.fb-ln{
    color: white;
    text-decoration: none;
    display: block;
}
.icon-fb-lnin{
    display: grid;
    justify-content: left;
    flex-direction: column;
}